<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改博客</title>
</head>
<body>

<div id="user" style="float:right">
    <if condition="isset($_SESSION['userId']) && isset($_SESSION['userToken'])">
        <a href="{:U('/User/User/user')}"><span>{$Think.cookie.name}</span></a>
        <a href="{:U('/User/User/user')}"><img src="{$Think.cookie.avatar}" alt="头像" width="36px" height="36px" style="border-radius: 50%;"/></a>
        <p><a href="{:U('/User/User/signout')}">退出登录</a></p>
        <else />
        <a href="{:U('/User/User/login')}">登录</a>
    </if>
    <br/>
    <br/>
</div>

<div id="content" align="center">
    <h4>{:$blog[title]}</h4>
    <h4>{:$blog[user]}</h4>
    <h6>{:$blog[create_time]}</h6>
    <if condition="isset($_SESSION['userId']) && isset($_SESSION['userToken']) && $_SESSION['userId'] == $userId">
        <p><a href="{:U('/User/Home/modifyBlog',array('userId'=>$blog['user_id'], 'blogId'=>$blog['blog_id']))}">修改</a></p>
        <p><a href="{:U('/User/Home/deleteBlog',array('userId'=>$blog['user_id'], 'blogId'=>$blog['blog_id']))}">删除</a></p>
    </if>
    <p>{:$blog[content]}</p>
</div>

</body>
</html>