<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Think.get.username}的个人主页</title>
</head>
<body>


<div id="content">

    <div id="title" align="center">
        <h4>{$Think.get.username}的个人主页</h4>
    </div>

    <div id="user" align="right">
        <if condition="isset($_SESSION['userId']) && isset($_SESSION['userToken'])">
                <span>{$Think.cookie.name}</span>
                <img src="{$Think.cookie.avatar}" alt="头像" width="36px" height="36px" style="border-radius: 50%;"/>
                <p><a href="{:U('/User/User/signout')}">退出登录</a></p>
            <else />
                <a href="{:U('/User/User/login')}">登录</a>
        </if>
        <br/>
        <br/>
    </div>

    <div id="dashboard" align="right">
        <if condition="isset($_SESSION['userId']) && isset($_SESSION['userToken'])">
            <p><a href="{:U('/User/Home/addBlog')}">添加博客</a></p>
        </if>
    </div>

    <div id="blogs" align="center">
        <volist name="blogs" id="blog">
            <p>标题:{$blog.title}</p>
            <p>创建时间:{$blog.create_time}</p>
            <if condition="isset($_SESSION['userId']) && isset($_SESSION['userToken']) && $_SESSION['userId'] == $userId">
                <p><a href="{:U('/User/Home/modifyBlog',array('blogId'=>$blog['id']))}">修改</a></p>
                <p><a href="{:U('/User/Home/deleteBlog',array('blogId'=>$blog['id']))}">删除</a></p>
            </if>
        </volist>
    </div>


</div>

</body>
</html>