
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="__IMAGES__/">-->

    <title>管理员注册</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/form-signin-signup.css" rel="stylesheet">

    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!-- Custom JS -->
    <script src="__JS__/ie-emulation-modes-warning.js"></script>
    <script src="__JS__/ie8-responsive-file-warning.js"></script>
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
    <![endif]-->
</head>

<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #e0e0e0;
    }
</style>

<body>

<div class="container">

    <div align="center">

        <form class="form-horizontal form-signin-signup" role="form" method="post" action="{:U('Admin/Admin/signup')}">
            <h3 class="form-signin-signup-heading">管理员注册</h3>
            <h6><a href="{:U('Admin/Admin/login')}">已有账户?去登录</a></h6>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="请输入账户名">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="repassword" placeholder="请再一次输入密码">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">管理员注册</button>
            </div>
        </form>

    </div>

</div> <!-- /container -->

</body>
</html>
