<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>

<div align="center">
    <h2>用户注册</h2>
    <h5><a href="/User/User/login">已有账户?去登录</a></h5>
    <form method="post" action="/User/User/signup">
        <p>邮箱:<input type="email" name="email" placeholder="请输入邮箱"/></p>
        <p>用户名:<input type="text" name="name" placeholder="请输入用户名"/></p>
        <p>密码:<input type="password" name="password" placeholder="请输入密码"/></p>
        <p>重复密码:<input type="password" name="repassword" placeholder="请再一次输入密码"/></p>
        <p><input type="submit" value="注册"></p>
    </form>
</div>

</body>
</html>