
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bloing Admin Manage System</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__CSS__/navbar-static-top.css" rel="stylesheet">
    <link href="__CSS__/bloing-admin.css" rel="stylesheet">

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/metisMenu/1.1.3/metisMenu.min.js"></script>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!-- Custom JS -->
    <script src="__JS__/ie-emulation-modes-warning.js"></script>
    <script src="__JS__/ie8-responsive-file-warning.js"></script>
    <script src="__JS__/ie10-viewport-bug-workaround.js"></script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Admin/Admin/admin')}">Bloing Admin Manage System</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
                    <i><img class="nav-user-photo" src="{$Think.cookie.avatar}" alt="{$Think.cookie.name}" style="width:30px;height:30px;border-radius: 50%;" /></i> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li><a href="{:U('Admin/Admin/admin')}"><i class="fa fa-user fa-fw"></i>{$Think.cookie.name}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{:U('Admin/Admin/signout')}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="{:U('Admin/Admin/admin')}"><i class="fa fa-dashboard fa-fw"></i> 控制台</a>
                    </li>
                    <li>
                        <a href="{:U('Admin/BlogManage/index')}"><i class="fa fa-file-text fa-fw"></i> 博客管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="{:U('Admin/BlogManage/allBlogs')}" class="active"> 所有博客</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Admin/UserManage/index')}"><i class="fa fa-user fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Admin/UserManage/allUsers')}"> 所有用户</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{:U('Admin/PermisManage/index')}"><i class="fa fa-lock fa-fw"></i> 权限管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Admin/PermisManage/index')}"><i class="fa fa-lock fa-fw"></i> 权限管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li>
                                        <a href="{:U('Admin/PermisManage/allPermissions')}">&nbsp;&nbsp;所有权限</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/PermisManage/addPermission')}">&nbsp;&nbsp;添加权限</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                            <li>
                                <a href="{:U('Admin/RoleManage/index')}"><i class="fa fa-key fa-fw"></i> 角色管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li>
                                        <a href="{:U('Admin/RoleManage/allRoles')}">&nbsp;&nbsp;所有角色</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/RoleManage/addRole')}">&nbsp;&nbsp;添加角色</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                            <li>
                                <a href="{:U('Admin/AdminManage/index')}"><i class="fa fa-users fa-fw"></i> 管理员管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li>
                                        <a href="{:U('Admin/AdminManage/allAdmins')}">&nbsp;&nbsp;所有管理员</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/AdminManage/addAdmin')}">&nbsp;&nbsp;添加管理员</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{:U('Admin/Admin/index')}"><i class="fa fa-user-md fa-fw"></i> 账户管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{:U('Admin/AccountManage/modifyPwd')}"> 修改密码</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cog fa-fw"></i> 设置<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#"> 功能待定</a>
                            </li>
                            <li>
                                <a href="#"> 功能待定</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="min-height: 299px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">所有博客</h1>
            </div>
            <!-- /.col-lg-12 -->

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有博客
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>博客标题</th>
                                    <th>阅读次数</th>
                                    <th>创建时间</th>
                                    <th>查看作者</th>
                                    <th>查看详情</th>
                                    <th>屏蔽操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="blogs" id="blog">

                                    <tr>
                                        <td>{$key+1}</td>
                                        <td>{$blog['title']}</td>
                                        <td>{$blog['read_count']}</td>
                                        <td>{$blog['create_time']}</td>
                                        <td><a type="button" class="btn btn-default btn-xs" href="{:U('/Admin/UserManage/detailUser', array('id'=>$blog['user_id']))}">{$blog['user_name']}</a></td>
                                        <td><a type="button" class="btn btn-default btn-xs" href="{:U('/Admin/BlogManage/detailBlog', array('id'=>$blog['id']))}">详情</a></td>
                                        <td>
                                            <if condition="$blog['blog_is_block'] == 0">
                                                    <a type="button" class="btn btn-danger btn-xs" href="{:U('/Admin/BlogManage/blockBlog', array('id'=>$blog['id']))}">屏蔽</a>
                                                <else />
                                                    <a type="button" class="btn btn-primary btn-xs" href="{:U('/Admin/BlogManage/blockBlog', array('id'=>$blog['id']))}">恢复</a>
                                            </if>
                                        </td>
                                    </tr>

                                </volist>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>
